div.img {
    margin: 100px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}
div.desc {
    padding: 15px;
    text-align: center;
    margin: 100px;
    width: 330px;
    float: left;


}
div.container{
    width:98%;
    margin:1%;
}


.top-container{
    margin-left:auto;
    margin-right:auto;
    background-color:#3366cc;
    text-align: justify;
}
.a{
    margin: 100px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;

}