div.img {
    margin: 25px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}
div.desc {
    padding: 15px;
    text-align: center;
    margin: 50px;
    width: 330px;
    float: left;


}
div.container{
    width:98%;
    margin:1%;
}

.title{
    text-align: center;
}
.top-container{
   /* margin-left:auto;
    margin-right:auto;
    background-color:#3366cc;
    text-align: justify;
    */
    width: 400px;
    margin: 0 auto;
}
.a{
    margin: 50px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;

}